.navbar {
  font-family: 'Kaushan Script', cursive;
  box-shadow: 0px 10px 15px rgba(33, 33, 33, 0.66);
  z-index: 1;
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: fixed;
  top: 0px;
  /* background-color: #; */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 0.8vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
}

.navbar .title {
  /* border: 1px solid black; */
  /* display: inline; */
  /* float: left; */
  width: 420px;

  order: 0;
  /* flex-basis: 50%; */
  /* flex-grow: 2; */
}

.navbar ul {
  /* width: auto; */
  border: 1px solid red;
  float: right;
  /* display: inline; */


  order: 1;
  /* flex-basis: auto; */
  align-self: flex-end;
}

.navbar ul li {
  display: inline;
}

.navbar a {
  width: 60px;
  padding: 8px 16px;
  text-decoration: none;
  text-align:center;
  font-weight: 500;
  font-size: 40px;
  color: #000;
}

.navbar ul li a {
  /* color: #000; */
  font-weight: 500;
  font-size: 30px;
  color: rgb(166, 166, 166);
  /* background-color: #FFF; */
  /* background: white; */
	-webkit-transition: color 0.5s ease-in-out;
     -moz-transition: color 0.5s ease-in-out;
       -o-transition: color 0.5s ease-in-out;
      -ms-transition: color 0.5s ease-in-out;
          transition: color 0.5s ease-in-out;
}

/* .navbar ul li a:hover {
  color: #555;
} */

.navbar ul li a.active {
  color: #000;
  /* background-image: linear-gradient(to top, rgba(182, 142, 73, 0.41) 0%, rgba(0, 0, 0, 0) 40%); */
}

.navbar ul li a:hover:not(.active) {
  color: #444;
}
